/* responsive start */
@media only screen and (min-width: 1400px) {
    .SubHeader_nav li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1024px) {

    .custom_nav_child_two {
        display: flex;
        justify-content: center;
    }

    .custom_humberger {
        display: block;
        cursor: pointer;
    }

    .h_dropdown_btn {
        padding-left: 0 !important;
    }

    .cnm_left {
        left: -2000px;
    }

    .csm_right {
        left: 0;
    }
    .custom_nav{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .custom_nav>div{
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    .hs3_first_row {
        flex-direction: column-reverse;
    }

    .hs4_row div:nth-last-of-type(odd) {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .footer_title {
        margin-top: 20px;
    }

    .sub_m_ham {
        display: inline;
        cursor: pointer;
    }


    .cnm_left {
        left: -2000px;
    }

    .csm_right {
        left: 0;
    }


    .hs2_part2 {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .hs3_second_row li {
        margin-top: 16px;
    }

    .hs7_section7_card img {
        width: 200px;
    }

    .hs7_section7_row {
        grid-template-columns: 1fr;
    }

    .hs8img {
        width: 100%;
        position: relative;
        bottom: -28px;
    }

    .home_section10_carrosal {
        grid-template-columns: 1fr;
    }

    .hs10c_child1 {
        text-align: center;
    }

    .hs10arrow_main {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .hs3Img {
        width: 100%;
    }

    .hs7_section7_row {
        width: 80%;
        margin: 0 auto;
    }

    .hs7_card_img_div {
        box-shadow: 20px 20px 1px 1px #eaeaea;
    }

    .hs7_card_img_div_two {
        box-shadow: 20px 20px 1px 1px #eaeaea;
    }

    .custom_nav_child_two a {
        font-size: 9px;
    }
    .h_dropdown_btn{
        font-size: 8px !important;
    }

    .custom_nav_main li:nth-of-type(1){
        display: block;
    }
    .custom_nav_main li:nth-of-type(2){
        display: block;
    }
    .subnav{
        width: 100%;
    }
    .home_banner_img {
        height: 270px;
    }
    .footer_inner{
        padding: 0px 40px;
    }
}

/* responsive end */